In [7]:
import xarray as xr
import numpy as np
import pandas as pd

In [8]:
filepath = 'data.grib'
ds = xr.open_dataset(filepath, engine='pynio')

In [9]:
for v in ds:
    print("{}, {}, {}".format(v, ds[v].attrs["long_name"], ds[v].attrs["units"]))

SP_GDS0_SFC, Surface pressure, Pa
2T_GDS0_SFC, 2 metre temperature, K
initial_time0_encoded, initial time encoded as double, yyyymmddhh.hh_frac
initial_time0, Initial time of first record, mm/dd/yyyy (hh:mm)

In [10]:
df = ds.to_dataframe()

In [11]:
df.head()

                                       SP_GDS0_SFC  2T_GDS0_SFC  \
initial_time0_hours g0_lat_1 g0_lon_2
2023-10-03          55.0     14.00     101434.4375   289.975342
                             14.25     101433.4375   290.184326
                             14.50     101407.4375   290.365967
                             14.75     101352.4375   290.449951
                             15.00     101318.4375   290.504639

                                       initial_time0_encoded  \
initial_time0_hours g0_lat_1 g0_lon_2
2023-10-03          55.0     14.00              2.023100e+09
                             14.25              2.023100e+09
                             14.50              2.023100e+09
                             14.75              2.023100e+09
                             15.00              2.023100e+09

                                               initial_time0
initial_time0_hours g0_lat_1 g0_lon_2
2023-10-03          55.0     14.00     b'10/03/2023 (00:00)'
                             14.25     b'10/03/2023 (00:00)'
                             14.50     b'10/03/2023 (00:00)'
                             14.75     b'10/03/2023 (00:00)'
                             15.00     b'10/03/2023 (00:00)'

In [12]:
df.describe()

        SP_GDS0_SFC   2T_GDS0_SFC  initial_time0_encoded
count   13500.00000  13500.000000           1.350000e+04
mean    99412.87500    289.029877           2.023100e+09
std      1739.98999      4.052129           5.046638e+01
min     90895.06250    278.070312           2.023100e+09
25%     98940.03125    286.273682           2.023100e+09
50%     99843.12500    288.041748           2.023100e+09
75%    100470.21875    291.425781           2.023100e+09
max    102020.18750    300.770996           2.023100e+09

In [13]:
print(df)

                                       SP_GDS0_SFC  2T_GDS0_SFC  \
initial_time0_hours g0_lat_1 g0_lon_2
2023-10-03 00:00:00 55.0     14.00     101434.4375   289.975342
                             14.25     101433.4375   290.184326
                             14.50     101407.4375   290.365967
                             14.75     101352.4375   290.449951
                             15.00     101318.4375   290.504639
...                                            ...          ...
2023-10-04 20:00:00 49.0     24.00      96875.1875   280.931641
                             24.25      98291.1875   282.093750
                             24.50      98823.1875   282.771484
                             24.75      99160.1875   283.390625
                             25.00      98902.1875   283.646484

                                       initial_time0_encoded  \
initial_time0_hours g0_lat_1 g0_lon_2
2023-10-03 00:00:00 55.0     14.00              2.023100e+09
                             14.25              2.023100e+09
                             14.50              2.023100e+09
                             14.75              2.023100e+09
                             15.00              2.023100e+09
...                                                      ...
2023-10-04 20:00:00 49.0     24.00              2.023100e+09
                             24.25              2.023100e+09
                             24.50              2.023100e+09
                             24.75              2.023100e+09
                             25.00              2.023100e+09

                                               initial_time0
initial_time0_hours g0_lat_1 g0_lon_2
2023-10-03 00:00:00 55.0     14.00     b'10/03/2023 (00:00)'
                             14.25     b'10/03/2023 (00:00)'
                             14.50     b'10/03/2023 (00:00)'
                             14.75     b'10/03/2023 (00:00)'
                             15.00     b'10/03/2023 (00:00)'
...                                                      ...
2023-10-04 20:00:00 49.0     24.00     b'10/04/2023 (20:00)'
                             24.25     b'10/04/2023 (20:00)'
                             24.50     b'10/04/2023 (20:00)'
                             24.75     b'10/04/2023 (20:00)'
                             25.00     b'10/04/2023 (20:00)'

[13500 rows x 4 columns]